.link {
  text-decoration: none;
  color: white !important;
}

.pagination {
  max-width: 400px;
}

@media (max-width: 345px) {
  .hid {
    display: none;
  }
}

.btn-pg {
  background: #4ab6c2;
  color: white;
  --bs-btn-disabled-bg: #4ab6c2;
  --bs-btn-disabled-border-color: #4ab6c2;
  --bs-btn-hover-bg: #16c9dd;
}

.link-active {
  background: #16c9dd;
}
