body {
  background: #282c34;
  color: white;
}
section {
  max-width: 1320px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #4d4f53;
}
::-webkit-scrollbar-thumb {
  background: #888; border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}